$color-main: #0000FF;
$color-background: #F8F8FF;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-gray: #767676;
$color-gray: #666666;
$color-light-gray: #A1A1A1;
$color-very-light-gray: #E6E6E6;
$color-white-blue: #FAFAFF;
$color-light-blue: #007DC5;
$color-very-soft-blue: #8484E0;
$color-light-grayish-blue: #EDEDF8;
$color-grayish-blue: #DFDFEA;
$color-vivid-orange: #E28F11;
$color-dark-green: #589A00;
$color-strong-red: #C20202;
$color-violet: #9443c6;
$color-error: #AB0101;
$color-very-light-blue: #ECECFF

