@import "style";

body {
}

.melina {
  background-color: blue;
}

.balta {
  color: #ffffff;
}

.list-wrapper {
  padding: 30px;
  display: flex;
  gap: 20px;
}

.title {
  background-color: #0b0b60;
  color: #FFFFFF;
}
