// Main colors
$color-deep-blue: #00386B;
$color-black: #1B1B1E;
$color-deep-blue-gradient: linear-gradient(90deg, #306999 -2.92%, #00386B 100%);
$color-important: #D22C2D;
$color-greenish: #C2DC81;
$color-special-green: #34B38A;
$color-special-blue: #1090D0;
$color-blue: #306999;
$color-blue--medium: #82A0C1;
$color-grey-blue: #B0CCE1;
$color-background: #FCFDFF;
$color-blueish: #F6F9FC;
$color-blue-gradient: linear-gradient(90deg, #1090D0 28.12%, #2875B7 100%);
$color-dark-grey: #4D4D4D;
$color-grey: #6A727A;
$color-light-gray: #92979D;
$color-very-light-gray: #B1B7BF;
$color-azureish-white: #E1EBF2;
$color-anti-flash-white: #ECF3F8;
$color-white: #FFFFFF;

// Warning Colors
$color-error: #FF4328;
$color-valid: #3CC13B;
$color-warning: #F3AA1C;

$color-pastel-green: #E8F5E1;
$color-pastel-blue: #EBF2FF;
$color-pastel-red: #FDF2F2;
$color-pastel-orange: #FDF3DF;
