.card {
  border: 1px solid $color-azureish-white;
  width: 300px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.card__image {
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card__image img {
  width: fit-content;
}

.card__content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: $color-dark-grey;
}

.card__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-light-gray;
}

.card__price {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.card__price span{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: $color-grey;
  //color: $color-grey;
}

.card__sale {
  position: absolute;
  right: 10px;
  top: 15px;
}
